<main class="content-container">
    <h1 class="title">Pesos de avaliação</h1>

    <span class="hint-msg"
    >Preencha os campos abaixo para definir os pesos de avaliação do
        poema.</span>
    <ul
        class="flex flex-col gap-2 text-lg overflow-hidden min-w-96 rounded-3xl mt-4 bg-white bg-opacity-45 p-4 px-10"
    >
    @for (option of weights; track option.id) {
        <attribute-field
            [attribute]="option.text"
            [value]="option.value"
            [id]="option.id"
        >
        </attribute-field>
    }
    </ul>

    <a (click)="onGenerate($event)">
        <button class="action-btn">Gerar</button>
    </a>

    <back-btn route="/new/mives" pageTitle="Arquivo Mives"></back-btn>
    <forms-steps [currentStep]="3" [totalSteps]="3"></forms-steps>
</main>
