<main class="content-container">
    <h1 class="title">Pesos de avaliação</h1>

    <span class="hint-msg">
        Preencha os campos abaixo para definir os pesos de avaliação do poema.
    </span>
    <ul id="options">
    @for (option of weights(); track option.key) {
        <attribute-field
            [key]="option.key"
            [displayName]="option.display"
            [value]="option.value"
        >
        </attribute-field>
    }
    </ul>

    <span>{{ inspect(weights()) }}</span>
    <a (click)="onGenerate($event)">
        <button class="action-btn">Gerar</button>
    </a>
</main>

<back-btn route="/new/mives" pageTitle="Arquivo Mives"></back-btn>
<forms-steps [currentStep]="3" [totalSteps]="3"></forms-steps>
