<main class="content-container">
    <h1 class="title">Pesos de avaliação</h1>

    <span class="hint-msg">
        Preencha os campos abaixo para definir os pesos de avaliação do poema.
    </span>
    <ul id="options">
    @for (option of weights(); track $index) {
        <weight
            [displayName]="option.display"
            [value]="option.value"
            (valueChange)="onValueChange(option.key, $event)"
        >
        </weight>
    }
    </ul>

    @if (DEBUG) {
        <span>{{ inspect(weights()) }}</span>
    }
    <a (click)="onGenerate($event)">
        <button class="action-btn">Gerar</button>
    </a>
</main>

<return-back route="/new/mives" pageTitle="Arquivo Mives"></return-back>
<forms-steps [currentStep]="3" [totalSteps]="3"></forms-steps>
