<main class="content-container">
    <h1 class="title">Padrão de rima</h1>

    <section id="forms">
        <section id="stanzas">
            @for (stanza of stanzas(); track $index) {
            <stanza
                [lengths]="stanza.lengths"
                [pattern]="stanza.pattern"
            ></stanza>
            }
        </section>
        @if (stanzas().length < 6) {
        <button id="add-stanza" title="Nova Estrofe" (click)="add()">+</button>
        }
    </section>

    <section class="flex gap-4">
        <a (click)="clear($event)">
            <button class="action-btn">Limpar</button>
        </a>
        <a (click)="onNext($event)">
            <button class="action-btn">Próximo</button>
        </a>
    </section>

    <span class="hint-msg">Exemplo: ABAB ABAB CDC CDC</span>
    @if (DEBUG) {
    <span>{{inspect(stanzas())}}</span>
    }
</main>

<return-back route="/" pageTitle="Página Principal"></return-back>
<forms-steps [currentStep]="1" [totalSteps]="3"></forms-steps>
