<main class="content-container">
    <h1 class="title">Padrão de rima</h1>

    <section id="forms">
        <section id="stanzas">
            @for (i of stanzaArray(); track stanzas) {
                <stanza></stanza>
            }
        </section>
        <button id="add-stanza" title="Nova Estrofe" (click)="addStanza()">+</button>
    </section>

    <a (click)="onNext($event)">
        <button class="action-btn">Próximo</button>
    </a>
    <span class="hint-msg">Exemplo: ABAB ABAB CDC CDC</span>
</main>

<back-btn route="/" pageTitle="Página Principal"></back-btn>
<forms-steps [currentStep]="1" [totalSteps]="3"></forms-steps>
