<main class="content-container">
    <h1 class="title">Padrão de rima</h1>

    <section id="forms">
        <section id="stanzas">
            @for (stanza of stanzas(); track $index) {
                <stanza [lengths]="stanza.lengths" [pattern]="stanza.pattern"></stanza>
            }
        </section>
        <button id="add-stanza" title="Nova Estrofe" (click)="add()">+</button>
    </section>

    <section>
        <a (click)="clear($event)">
            <button class="action-btn">Limpar</button>
        </a>
        <a (click)="onNext($event)">
            <button class="action-btn">Próximo</button>
        </a>
    </section>

    <span class="hint-msg">Exemplo: ABAB ABAB CDC CDC</span>
    <span>{{inspect(stanzas())}}</span>
</main>

<back-btn route="/" pageTitle="Página Principal"></back-btn>
<forms-steps [currentStep]="1" [totalSteps]="3"></forms-steps>
