<main class="content-container">
    <h1 class="title">Padrão de rima</h1>
    
    <section class="flex flex-col gap-4 min-w-96 place-items-center overflow-hidden rounded-3xl">   
        <!-- Stanzas -->
        <section class="flex flex-col place-items-start flex-grow gap-4 
            max-h-80 overflow-y-scroll px-4 
            [&::-webkit-scrollbar]:w-2
            [&::-webkit-scrollbar-track]:bg-transparent
            [&::-webkit-scrollbar-thumb]:bg-slate-100
        ">
            <stanzas-pattern *ngFor="let i of stanzaArray()"></stanzas-pattern>
        </section>
        <!-- New Stanza button -->
        <button (click)="addStanza()" class="bg-slate-50 bg-opacity-60 w-full">+</button>
    </section>
    <a routerLink="/new/mives">
        <button class="action-btn" (click)="updateFormsService()">Próximo</button>
    </a>
    <span class="hint-msg">Exemplo: ABAB ABAB CDC CDC</span>
    <forms-steps [currentStep]="1" [totalSteps]="3"></forms-steps>
</main>