<main class="content-container">
    <h1 class="title">Arquivo MIVES</h1>
    <div class="flex gap-4 mt-4">
        <input #sampleInput (change)="receiveFile($event)" class="hidden">
        <button class="action-btn" (click)="sampleInput.click()">Amostras</button>
        
        <input #fileInput (change)="receiveFile($event)" class="hidden">
        <button class="action-btn" (click)="fileInput.click()">Abrir</button>
    </div>
    <span class="hint-msg">
        Abra um arquivo MIVES do seu Desktop <br>
        ou use um dos nossos.
    </span>
    <forms-steps [currentStep]="2" [totalSteps]="3"></forms-steps>
</main>
