<div id="background" class="bg-slate-100 bg-opacity-40 screen:[relative min-h-screen w-screen overflow-x-hidden] print:!bg-white flex justify-around items-baseline" #container>
    <aside class="print:!hidden w-1/6">
    </aside>
    <main class="font-serif w-2/3">
        @if (poem(); as poem) {
            <poem [poem]="poem"></poem>
        } @else {
            <p class="prose-xl text-center flex flex-col justify-start items-center py-16">
                Gerando poema...
            </p>
        }
    </main>
    <aside class="print:!hidden w-1/6">
    @if (poem()) {
        <save-button></save-button>
    }
    </aside>
</div>

<a class="print:!hidden" (click)="onGoHome()">
    <button class="print:hidden action-btn fixed z-40 left-4 bottom-4">
        Novo Poema
    </button>
</a>

@if (feedback.isOpen) {
    <feedback></feedback>
}