<div class="relative min-h-screen w-screen overflow-x-hidden" #container>
    <!-- New Poem Button-->

    <a (click)="goHome()">
        <button class="action-btn fixed z-50 left-4 bottom-4">
            Novo Poema
        </button>
    </a>

    <!-- Main Content -->
    <main
        #mainContainer
        class="w-screen h-screen font-serif flex flex-col items-center justify-start bg-slate-100 bg-opacity-65 overflow-y-scroll"
    >
        <ng-container *ngIf="poem$ | async as poem">
            <article class="flex flex-col justify-start items-center py-16">
                <p
                    class="prose-xl text-center mb-8 break-words"
                    *ngFor="let paragraph of poem.split('\n\n')"
                >
                    <span
                        class="block leading-relaxed"
                        *ngFor="let line of paragraph.split('\n')"
                    >
                        {{ line }}
                    </span>
                </p>
            </article>
        </ng-container>
    </main>

    <!-- Scroll Button -->
    <div
        class="fixed bottom-0 left-0 right-0 flex flex-col items-center pb-4 z-40"
        (click)="scrollDown()"
    >
        <div
            class="absolute bottom-0 left-0 right-0 h-24 bg-gradient-to-t from-slate-50 to-transparent -z-10"
        >
        </div>
        <button
            class="bg-white hover:bg-gray-100 text-gray-800 rounded-full p-2 shadow-lg"
        >
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chevron-double-down"
                viewBox="0 0 16 16"
            >
                <path
                    fill-rule="evenodd"
                    d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                />
                <path
                    fill-rule="evenodd"
                    d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"
                />
            </svg>
        </button>
    </div>
</div>
