<main class="content-container">
    <h1 class="text-5xl font-bold">Bem-vindo ao Propoe</h1>
    <h2 class="text-xl">Começe a gerar poemas de arquivos MIVES</h2>
    <a routerLink="/forms/mives">
        <button class="bg-blue-400 text-white shadow-lg shadow-blue-200 rounded-full p-4 px-8 my-4 transition duration-150 hover:bg-blue-500 hover:shadow-xl hover:shadow-blue-200 hover:ease-out">Começar</button>
    </a>
    <a href="https://github.com/lasicuefs/propoe2" 
        target="_blank" class="underline transition duration-150 hover:-translate-y-1 hover:shadow-md hover:ease-out">
        <span>Siga-nos no Github</span>
    </a>
</main>