<ul class="flex gap-4 w-full">

    @for (unit of units; track units) {
        <li class="verse-button">
            <input
                type="text"
                [value]="unit.number"
                title="Editar sílabas fonéticas do verso"
            >
            <input
                type="text"
                [value]="unit.letter"
                title="Editar padrão de rima do verso"
                class="text-xl"
            >
        </li>
    }

    <button title="Novo Verso" (click)="addPatternUnit()" class="verse-button text-xl w-full h-full">+</button>
</ul>
