<ul class="flex gap-4 w-full">

    @for (unit of units; track unit.id) {
        <li class="verse-button">
            <input type="text" [value]="unit.length" (change)="updateLenght($event, $index)"
                title="Editar sílabas fonéticas do verso">
            <input type="text" [value]="unit.letter" (change)="updateLetter($event, $index)"
                title="Editar padrão de rima do verso"
                class="text-xl">
        </li>
    } 
    
    @if (units.length < 8) {
        <button title="Novo Verso" (click)="add()" class="verse-button text-xl w-full h-full">
            +
        </button>
    }

</ul>
